body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #3c3c48;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  background-color: #333;
  padding: 1rem;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}
.navbar img {
  height: 20px; 
  width: auto;
  margin-right: 10px; 
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar ul li {
  margin-left: 1rem;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
}

.search-bar {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}

.search-bar input {
  padding: 0.5rem;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-bar button {
  padding: 0.5rem 1rem;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.movie-item {
  text-align: center;
  background-color: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.movie-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.movie-info {
  padding: 1rem;
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem 0;
  margin-top: auto;
}

@media only screen and (max-width: 768px) {
  .movie-details {
    flex-direction: column;
    align-items: center;
  }
  .navbar {
    background-color: #333;
    padding: 1rem;
    size: 100%;
  }

  .movie-details img {
    max-width: 100%;
  }

  .movie-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  .search-bar {
    flex-direction: column;
    gap: 10px;
  }

  .search-bar input {
    width: 100%;
    margin-right: 0;
  }

  .search-bar button {
    width: 100%;
    padding: 0.5rem 1rem;
  }
}

@media only screen and (max-width: 480px) {
  h3 {
    font-size: 1.2rem;
  }
  .navbar {
    background-color: #333;
    padding: 1rem;
    size: 100%;
  }

  .movie-info h1 {
    font-size: 1.5rem;
  }

  .movie-info p {
    font-size: 0.9rem;
  }

  .search-bar input {
    font-size: 0.9rem;
  }

  .search-bar button {
    font-size: 0.9rem;
    border-radius: 2rem;
    justify-content: center;

  }
}
